<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="intelligent:viewanalaysis" type="SitecoreCognitiveServices.Feature.IntelligentMedia.Commands.ViewAnalysis,SitecoreCognitiveServices.Feature.IntelligentMedia"/>
      <command name="intelligent:analyze" type="SitecoreCognitiveServices.Feature.IntelligentMedia.Commands.Analyze,SitecoreCognitiveServices.Feature.IntelligentMedia"/>
      <command name="intelligent:reanalyze" type="SitecoreCognitiveServices.Feature.IntelligentMedia.Commands.Reanalyze,SitecoreCognitiveServices.Feature.IntelligentMedia"/>
      <command name="intelligent:analyzeall" type="SitecoreCognitiveServices.Feature.IntelligentMedia.Commands.AnalyzeAll,SitecoreCognitiveServices.Feature.IntelligentMedia"/>
      <command name="intelligent:traingroup" type="SitecoreCognitiveServices.Feature.IntelligentMedia.Commands.TrainGroup,SitecoreCognitiveServices.Feature.IntelligentMedia"/>
      <command name="intelligent:trainall" type="SitecoreCognitiveServices.Feature.IntelligentMedia.Commands.TrainAllGroups,SitecoreCognitiveServices.Feature.IntelligentMedia"/>
      <command name="intelligent:identifypeople" type="SitecoreCognitiveServices.Feature.IntelligentMedia.Commands.IdentifyPeople,SitecoreCognitiveServices.Feature.IntelligentMedia"/>
      <command name="intelligent:identifygroup" type="SitecoreCognitiveServices.Feature.IntelligentMedia.Commands.IdentifyGroup,SitecoreCognitiveServices.Feature.IntelligentMedia"/>
      <command name="intelligent:identifyall" type="SitecoreCognitiveServices.Feature.IntelligentMedia.Commands.IdentifyAllGroups,SitecoreCognitiveServices.Feature.IntelligentMedia"/>
      <command name="intelligent:addface" type="SitecoreCognitiveServices.Feature.IntelligentMedia.Commands.AddFace,SitecoreCognitiveServices.Feature.IntelligentMedia"/>
      <command name="intelligent:smartcrop" type="SitecoreCognitiveServices.Feature.IntelligentMedia.Commands.SmartCrop,SitecoreCognitiveServices.Feature.IntelligentMedia"/>
      <command name="intelligent:setalttags" type="SitecoreCognitiveServices.Feature.IntelligentMedia.Commands.SetAltTags,SitecoreCognitiveServices.Feature.IntelligentMedia"/>
      <command name="intelligent:setalttagsall" type="SitecoreCognitiveServices.Feature.IntelligentMedia.Commands.SetAltTagsAll,SitecoreCognitiveServices.Feature.IntelligentMedia"/>
      <command name="intelligent:webeditimagesearch" type="SitecoreCognitiveServices.Feature.IntelligentMedia.Commands.WebEditImageSearch,SitecoreCognitiveServices.Feature.IntelligentMedia" />
      <command name="intelligent:webeditviewanalysis" type="SitecoreCognitiveServices.Feature.IntelligentMedia.Commands.WebEditAnalysis,SitecoreCognitiveServices.Feature.IntelligentMedia" />
    </commands>
    <events>
      <event name="item:deleted">
        <handler type="SitecoreCognitiveServices.Feature.IntelligentMedia.Events.PersonGroup.PersonGroupDeleted, SitecoreCognitiveServices.Feature.IntelligentMedia" method="OnItemDeleted" resolve="true" />
        <handler type="SitecoreCognitiveServices.Feature.IntelligentMedia.Events.PersonGroup.PersonDeleted, SitecoreCognitiveServices.Feature.IntelligentMedia" method="OnItemDeleted" resolve="true" />
        <handler type="SitecoreCognitiveServices.Feature.IntelligentMedia.Events.PersonGroup.PersonFaceDeleted, SitecoreCognitiveServices.Feature.IntelligentMedia" method="OnItemDeleted" resolve="true" />
        <handler type="SitecoreCognitiveServices.Feature.IntelligentMedia.Events.FaceList.FaceListDeleted, SitecoreCognitiveServices.Feature.IntelligentMedia" method="OnItemDeleted" resolve="true" />
        <handler type="SitecoreCognitiveServices.Feature.IntelligentMedia.Events.FaceList.ListFaceDeleted, SitecoreCognitiveServices.Feature.IntelligentMedia" method="OnItemDeleted" resolve="true" />
        <handler type="SitecoreCognitiveServices.Feature.IntelligentMedia.Events.MediaItem.MediaItemDeleted, SitecoreCognitiveServices.Feature.IntelligentMedia" method="OnItemDeleted" resolve="true" />
      </event>
      <event name="item:saved">
        <handler type="SitecoreCognitiveServices.Feature.IntelligentMedia.Events.PersonGroup.PersonGroupSaved, SitecoreCognitiveServices.Feature.IntelligentMedia" method="OnItemSaved" resolve="true" />
        <handler type="SitecoreCognitiveServices.Feature.IntelligentMedia.Events.PersonGroup.PersonSaved, SitecoreCognitiveServices.Feature.IntelligentMedia" method="OnItemSaved" resolve="true" />
        <handler type="SitecoreCognitiveServices.Feature.IntelligentMedia.Events.PersonGroup.PersonFaceSaved, SitecoreCognitiveServices.Feature.IntelligentMedia" method="OnItemSaved" resolve="true" />
        <handler type="SitecoreCognitiveServices.Feature.IntelligentMedia.Events.FaceList.FaceListSaved, SitecoreCognitiveServices.Feature.IntelligentMedia" method="OnItemSaved" resolve="true" />
        <handler type="SitecoreCognitiveServices.Feature.IntelligentMedia.Events.FaceList.ListFaceSaved, SitecoreCognitiveServices.Feature.IntelligentMedia" method="OnItemSaved" resolve="true" />
        <handler type="SitecoreCognitiveServices.Feature.IntelligentMedia.Events.MediaItem.MediaItemSaved, SitecoreCognitiveServices.Feature.IntelligentMedia" method="OnItemSaved" resolve="true" />
      </event>
    </events>
      <fieldTypes>
          <fieldType name="Intelligent Image" type="SitecoreCognitiveServices.Feature.IntelligentMedia.Fields.IntelligentImageField,SitecoreCognitiveServices.Feature.IntelligentMedia"/>
      </fieldTypes>
    <pipelines>
      <renderField>
        <processor patch:instead="processor[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']"
                   type="SitecoreCognitiveServices.Feature.IntelligentMedia.Pipelines.RenderField.GetImageFieldValue, SitecoreCognitiveServices.Feature.IntelligentMedia">
        </processor>
      </renderField>
    </pipelines>
    <services>
      <configurator type="SitecoreCognitiveServices.Feature.IntelligentMedia.App_Start.IocConfig, SitecoreCognitiveServices.Feature.IntelligentMedia" />
    </services>
    <controlSources>
      <source mode="on" namespace="SitecoreCognitiveServices.Feature.IntelligentMedia.Fields" assembly="SitecoreCognitiveServices.Feature.IntelligentMedia" prefix="cognitive"/>
    </controlSources>
    <settings>
      <setting name="CognitiveService.IntelligentMedia.VersionedImageId" value="{C97BA923-8009-4858-BDD5-D8BE5FCCECF7}" />
      <setting name="CognitiveService.IntelligentMedia.VersionedJpgId" value="{EB3FB96C-D56B-4AC9-97F8-F07B24BB9BF7}" />
      <setting name="CognitiveService.IntelligentMedia.UnversionedImageId" value="{F1828A2C-7E5D-4BBD-98CA-320474871548}" />
      <setting name="CognitiveService.IntelligentMedia.UnversionedJpgId" value="{DAF085E8-602E-43A6-8299-038FF171349F}" />
      <setting name="CognitiveService.IntelligentMedia.CognitiveIndexNameFormat" value="intelligentmedia_{0}_index" />
      <setting name="CognitiveService.IntelligentMedia.VisualAnalysisFieldId" value="{6CD3C4A7-4066-4E9F-AC54-77235545165E}" />
      <setting name="CognitiveService.IntelligentMedia.TextualAnalysisFieldId" value="{BE68E325-972E-4E49-B2B7-6A0DAEC07714}" />
      <setting name="CognitiveService.IntelligentMedia.FacialAnalysisFieldId" value="{31302037-4E73-4FF0-BB5C-70EFB6C8A22C}" />
      <setting name="CognitiveService.IntelligentMedia.AnalyzedImageFieldId" value="{39F1E0D0-78C7-4789-92E5-38F7CD1EE5FF}" />
      <setting name="CognitiveService.IntelligentMedia.PeopleFieldId" value="{384668A3-F06E-46F6-BB85-4D3860FA7A57}" />
      <setting name="CognitiveService.IntelligentMedia.AnalyzeNewImageFieldId" value="{99B4CB00-A21A-43CB-A6FB-C17C11567F82}" />
      <setting name="CognitiveService.IntelligentMedia.UseImageNameAsTagFieldId" value="{4217ADF5-DDA1-4B06-86C7-B955F4088966}" />
      <setting name="CognitiveService.IntelligentMedia.TagConfidenceThresholdFieldId" value="{AF436AE1-5FD0-47E2-938D-3E3085AB815D}" />
      <setting name="CognitiveService.IntelligentMedia.ImageAnalysisFolder" value="{DCA68A11-8670-4B60-B752-F95CBBC14E97}" />
      <setting name="CognitiveService.IntelligentMedia.ImageAnalysisTemplate" value="{84379FC9-E395-470F-9D6B-EA4A2654AE86}" />
      <setting name="CognitiveService.IntelligentMedia.SampleImage" value="{ADD6D028-AEB2-46DE-ACA0-972DCB83422F}" />
      <setting name="CognitiveService.IntelligentMedia.IntelligentMediaFolder" value="{8DE01E53-9B77-456E-AC39-E5A4104DA38C}" />
      <setting name="CognitiveService.IntelligentMedia.BlogField" value="{40E50ED9-BA07-4702-992E-A912738D32DC}" />
      <setting name="CognitiveService.IntelligentMedia.IntelligentMediaFieldFolder" value="{A2C231EF-95F2-40C9-B969-E72F288B28A7}" />
      <setting name="CognitiveService.IntelligentMedia.IntelligentMediaTemplatesFolder" value="{31FC1C9A-AA42-4710-B6E3-AB6028E867AD}" />
      <setting name="CognitiveService.IntelligentMedia.FaceEntityIdFieldId" value="{D28F77D5-8312-4B53-A541-A25F28B59DAD}" />
      <setting name="CognitiveService.IntelligentMedia.FaceEntityNameFieldId" value="{85CAEA77-884B-40C9-ACB4-5E7BA150442D}" />
      <setting name="CognitiveService.IntelligentMedia.FaceEntityUserDataFieldId" value="{FC497129-C1A5-486A-AC69-C1C9D74A2709}" />
      <setting name="CognitiveService.IntelligentMedia.PersonGroupsFolderId" value="{F37CE28E-F7ED-4878-AF3C-6AF06CA7C15A}" />
      <setting name="CognitiveService.IntelligentMedia.PersonGroupTemplateId" value="{5D15AB5D-31AF-4F18-94D9-62AFAD15D6EA}" />
      <setting name="CognitiveService.IntelligentMedia.PersonGroupStatusFieldId" value="{43A81F5C-F6D6-4165-98B5-E7156374AE43}" />
      <setting name="CognitiveService.IntelligentMedia.PersonGroupCreatedDateFieldId" value="{1C24602E-83C3-4048-B0CA-ABADAF57B420}" />
      <setting name="CognitiveService.IntelligentMedia.PersonGroupLastActionDateFieldId" value="{4FCFAC2E-514D-4F9C-92F7-999EE813C5C4}" />
      <setting name="CognitiveService.IntelligentMedia.PersonGroupMessageFieldId" value="{A322CB04-428A-4D58-96A0-EED6954BC960}" />
      <setting name="CognitiveService.IntelligentMedia.FaceListsFolderId" value="{5438B505-B647-4F6F-B40A-441D7491449D}" />
      <setting name="CognitiveService.IntelligentMedia.FaceListTemplateId" value="{DB80E76F-05E4-4319-9DEF-71732AE9CDC2}" />
      <setting name="CognitiveService.IntelligentMedia.PersonTemplateId" value="{072056F4-088D-46AA-84C2-7F0DBE6B61F6}" />
      <setting name="CognitiveService.IntelligentMedia.PersonFaceTemplateId" value="{6BA87E07-74A4-4698-BFA6-B1FD613AAB31}" />
      <setting name="CognitiveService.IntelligentMedia.ListFaceTemplateId" value="{1460EBA1-F5C8-402E-8CCA-C66AB55BC9AF}" />
      <setting name="CognitiveService.IntelligentMedia.FacePersistedFaceIdFieldId" value="{F140C437-13C4-4AC9-A340-B45CFB7F9C91}" />
      <setting name="CognitiveService.IntelligentMedia.FaceImageFieldId" value="{D2F7987D-0689-4634-B6CE-2EEB2B1EC68B}" />      
      <setting name="CognitiveService.IntelligentMedia.DictionaryDomain" value="Intelligent Media Dictionary" />
    </settings>
  </sitecore>
</configuration>